@media(max-width:900px){
    .area-1{
        width: 100%;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .area-1 .picture img{
        width: 200px !important;
        border-radius: 5px;
    }

    .description{
        width: 300px !important;
    }

    .skills{
        text-align: center;
    }

    .description .title{
       text-align: center;
       margin: auto;
    }

    .description .text{
        font-size: 15px; 
        text-align: center;
    }
    
    .area-jobs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}